body {
    font-family: 'roboto', sans-serif;
    background-color: white;
    align-items: center;
    margin: 0;
}

.container{
    padding: 20px 200px;
}
a{
    text-decoration: none;
}

header {
    background: #f1e67e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

header a img{
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
}
nav .pesquisa input{
    height: 100%;
    width: 100%;
    border: none;
    margin-right: 10px;
}
nav .pesquisa{
    background: #FFFFFF;
    height: 35px;
    width: 600px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: 20px;
}

.icons{
    color: #FFFFFF;
}
/*css sem edit*/

.linha {
    width: 100%;
    padding: 5px 0px;
    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.linha104{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.email{
    width: 45%;
}

.linha.paginas {
    border-style: solid;
    list-style: none;
    padding: 0;
}

.col1 {
    width: 60px;
}

.col2 {
    width: 140px;
}

.col3 {
    width: 220px;
}

.col4 {
    width: 300px;
}

.col5 {
    width: 380px;
}

.col6 {
    width: 460px;
}

.col7 {
    width: 540px;
}

.col8 {
    width: 620px;
}

.col9 {
    width: 700px;
    padding-left: 10px;
}

.col10 {
    width: 780px;
}

.col11 {
    width: 860px;
}

.col12 {
    width: 940px;
}


/* Imagens */

img {
    width: 95%;
    float: left;
}

#anúncio {
    width: 50%;
}

#logo {
    width: 81%;
}


/* estilos reutilizáveis*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 15px 0 10px 0;
    text-align: center;
}



a {
    cursor: pointer;
}

table {
    text-align: center;
}


/* Cabeçalho */

.coluna.col1.login {
    margin: 2% 1% 0 -2%;
    float: left;
}

.coluna.col1.login a {
    margin: 0 18%;
}

.coluna.col1.carrinho {
    margin: 2% 0 0 -2%;
    float: left;
}

.coluna.col1.cor {
    margin: 2% 0 0 -2%;
    float: left;
}

.coluna.col1.cor a {
    margin: 0 30%;
}

.material-icons {
    margin: 0 30%;
}

#placeholder {
    width: 400px;
    height: 35px;
    border-style: none;
    border-radius: 20px;
    margin: 2% 1% 2% 6%;
    background: #ececec;
    padding-left: 2%;
}

#placeholder:active {}

#Procurar {
    border: 1px none;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 5%;
    background: #fff;
}

#Procurar:hover {
    background: #ececec;
}

.coluna.col7 {
    margin: 1% 10%;
    float: left;
}

.coluna.col5.anuncio {
    margin-right: 5%;
    flex-direction: row;
}

.coluna.col3 {
    margin: 0 -2% 0 2%;
}

h1.logo {
    font-weight: 300;
    color: 315e8;
    margin: 15% 0;
}

.header {
    background-color: #f1e67e;
    margin: 0;
    color: black;
}

.linha.navegacao {
    background-color: #f1e67e;
    color: black;
    width: 100%;
    
    justify-content: center;
}

.linha.navegacao ul {
    list-style: none;
    margin: auto;
}

.linha.navegacao ul li {
    float: left;
}

.linha.navegacao label {
    width: 50px;
    height: 5px;
    padding: 20px;
    background-color: #f1e67e;
    display: block;
    color: black;
    cursor: pointer;
    text-align: center;
}

.secao {
    width: 100%;
    margin: 4%;
}

.content {
    border-top: 5px solid #f1e67e;
    background-color: #f1e67e;
    display: none;
    position: absolute;
    width: 10%;
    color: #fff;
    z-index: 999;
}

.content ul li {
    color: #fff;
}

.dropdown:hover{
    opacity:1; 
    visibility: visible;
}

.rd_tabs:hover~label {
    background-color: #f1e67e
}

.rd_tabs {
    display: none;
}

.rd_tabs:hover~.content {
    display: block;
}


/*layout do site*/

.conteudo-extra {
    background-color: white;
}

.coluna.col10.caixa {
    background: #f1e67e;
    width: 50%;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    
    justify-content: center;
}

.coluna.col10.caixa h3 {
    float: left;
}
.coluna.col10.caixa .linha{
    display: flex;
    
}

#tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
}

#placeholder2 {
    width: 300px;
    height: 28px;
    border-style: none;
    border-radius: 20px;
    margin: 0 1% 0 5%;
    background: #ececec;
    padding-left: 1%;
}
#placeholder2 :active{
   text-decoration: none;
}


/*Rodapé*/

.footer {
    background: #f1e67e;
    color: black;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}


/* Botões */

button {
    border: 1px solid #6ba8a9;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 5%;
    background: white;
}

#enviar {
    border: 1px solid #6ba8a9;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 5%;
    background: #6ba8a9;
}

#buttonenviar{
    float: right;
    height: 30px;
    margin: 0;
}